<hr>    <!-- 分割线，看不到也要有 -->

<!-- 网站底部 -->
<br>

<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="widget">
                    <h4 class="title">友情链接</h4>
                    <div class="content friend-links">
                        <a href="http://www.dengpeng.cc/" title="站长博客" target="_blank">站长博客</a>
                        <a href="http://www.zixue.it/" title="自学IT" target="_blank">自学IT</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="widget">
                    <h4 class="title">我们用到的技术</h4>
                    <div class="content tag-cloud">
                        <a href="http://www.bootcss.com/" title="Bootstrap中文网" target="_blank">Bootstrap</a>
                        <a href="http://www.jquery123.com/" title="JQuery" target="_blank">JQuery</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="widget">
                    <h4 class="title">赞助商</h4>
                    <div class="content friend-links">
                        <a href="http://www.dengpeng.cc/" title="布尔教育教研组" target="_blank">布尔教育教研组</a>
                        <a href="http://www.taoip.cn/" title="布尔教育教研组" target="_blank">淘站网</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>